<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="image-analyzer.ZPM">
    <Module>
      <Name>image-analyzer</Name>
      <Version>1.0.0</Version>
      <Description>Image Analyzer</Description>
      <Packaging>module</Packaging>
      <SourcesRoot>src</SourcesRoot>
      <Resource Name="dc.imageanalyzer.PKG"/>
      <FileCopy Name="python/" Target="${mgrdir}python/"/>
    </Module>
  </Document>
</Export>
